* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #ff5b2e;
}

/* Common */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
select,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 50px);
  margin: 0 auto;
}

.btn {
  --height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 99px;
  border: 1px rgb(0, 9, 88, 0.7) solid;
  color: #000958;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn--primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn__icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

/* Header */
.header {
  padding: 26px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__link,
.header-action__link {
  padding: 8px 18px;
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
}

.navbar__link:hover,
.header-action__link:hover {
  color: #000958;
  text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
  min-width: 117px;
  --height: 50px;
}

/* Hero */
.hero {
  margin-top: 76px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 120px;
}

.hero__media {
  display: flex;
  position: relative;
  padding-bottom: 94px;
}

.hero__img-wrap {
  position: relative;
  background: #fe997b;
  border-radius: 16px;
  width: 388px;
  height: 488px;
  border: 3px solid #fff;
}

.hero__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}

.hero__decor {
  position: absolute;
  z-index: -1;
}

.hero__decor-left {
  left: -58px;
  bottom: -6px;
}

.hero__decor-right {
  right: -43px;
}

.hero__img-small {
  max-width: 100%;
  max-height: 100%;
}

.hero__img-wrap-small {
  align-self: flex-end;
  width: 186px;
  height: 244px;
  background: #faa7ad;
  border-radius: 16px;
  margin-left: -24px;
  margin-bottom: -60px;
  border: 1px solid #fff;
}

.hero__list {
  position: absolute;
  width: 250px;
  height: 156px;
  padding: 18px 14px;
  background: white;
  box-shadow: -17px 14px 68px -4px rgba(207.43, 173.91, 132.02, 0.25);
  border-radius: 10px;
  left: 130px;
  bottom: 0;
}

.hero-list-item {
  display: flex;
}

.hero-list-item__thumb01 {
  background: #fec23f;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.hero-list-item__thumb02 {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.hero-list-item__info {
  margin-left: 10px;
}

.hero-list-item__title {
  color: #181e52;
  font-size: 1.4rem;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  line-height: 1;
}

.hero-list-item__skeleton {
  margin-top: 7px;
  width: var(--width, 118px);
  height: 4px;
  opacity: 0.08;
  background: #000958;
  border-radius: 10px;
}

.hero-list-item__seperate {
  width: 100%;
  height: 2px;
  background: #f2f2f2;
  border-radius: 99px;
  margin: 20px 0;
}

.hero__heading {
  color: #000958;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15;
}

.hero__description {
  width: 391px;
  margin-top: 24px;
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__cta-btn {
  --height: 60px;
  margin-right: 24px;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  min-width: 190px;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 600;
}

.hero__cta-link {
  color: #000958;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 500;
  text-decoration: underline;
}
